/*content begin*/
.content > ul {
    padding-top: 10px;
}

.content > ul > li {
    width: 118.333px;
    height: 75px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    border: 1px solid #eee;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
}

.content > ul > li > a > img {
    /*display: block;*/
    width: 50px;
    max-height: 50px;
    vertical-align: middle;
    margin: 0 auto;
}

/*content end*/