/*设置默认字符集编码*/
@charset "UTF-8";
html, body, header,nav,main,section,footer,article,aside,figure,ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, a,fieldset, legend, img ,input,textarea,i,span ,
::before,::after{
    margin: 0;
    padding: 0;
     /* 清除点击高亮  兼容移动端低版本浏览器 */
    -webkit-tap-highlight-color: transparent;
    /* 盒子宽度从边框开始计算 */
    box-sizing: border-box;
 }
/* 字体图标 */
@font-face {
    font-family: "buy";
    src:
    url(../fonts/glyphicons-halflings-regular.eot) format("embedded-opentype"),
    url(../fonts/glyphicons-halflings-regular.svg) format("svg"),
    url(../fonts/a.svg) format('svg'),
    url(../fonts/glyphicons-halflings-regular.ttf) format("truetype"),
    url(../fonts/glyphicons-halflings-regular.woff) format("woff");
}
/* 使用字体图标 */
.buy_icon {
    font-family: 'buy';
}

a {
    text-decoration: none;
}
/*各浏览器显示不同，去掉边框等默认样式*/
input, button,textarea {
    border: none;
    outline-style: none;
    resize: none;
    -webkit-appearance: none;  /*组件默认的样式空*/
}
ul, ol {
    list-style: none;
}
select, input, textarea {
    resize: none;
}
/*去掉行内替换元素空白缝隙*/
img {
    /* vertical-align: middle; */
    display: block;
}
table {
    border-collapse: collapse;
}
html,body {
    /* 字体自适应 */
    font: 14px "MicroSoft YaHei","sans-serif";   /*移动设备默认的字体 */
    overflow-x: hidden;
}
/*伪元素清除浮动*/
.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}
.clearfix {
      *zoom: 1;
}
a {
    color: #333;
    text-decoration: none;
}
a:hover {
    color: #333;
}
h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
}
/*废物利用*/
s, i, em {
    font-style: normal;
    text-decoration: none;
}
/*公共类*/
.f_left {
    float: left;
}
.f_right {
    float: right;
}
.show {
    display: block;
}
.hide {
    display: none;
}