<!--    慢慢买： 比较搜索分类页面    author： Yc   Begin at： 2017/1/10 15：57    -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <link rel="shortcut icon" href="../buy_favicon.ico" />
    <link rel="stylesheet" href="search/css/base.css" />
    <link rel="stylesheet" href="search/css/search.css" />
    <link rel="stylesheet" href="search/css/common.css" />
    <link rel="stylesheet" href="search/lib/bootstrap/css/bootstrap.min.css" />
</head>

<body>
    <div class="layout">
        <!--头部 star-->
        <header class="header clearfix">
            <div class="logo f_left">
                <!--跳转到首页-->
                <a href="../index.html"><img src="search/images/header_logo.png" width="185.5" height="25" alt="" /></a>
            </div>
            <div class="download">
                <!--跳转到下载页-->
                <a href="#"><img src="search/images/header_app.png" width="34" height="34" alt="" /></a>
            </div>
        </header>
        <!--头部 end-->

        <!--搜索栏 star-->
        <section class="form-search clearfix">
            <form action="#" class="searchBar f_left">
                <input type="search" class="search" placeholder="请输入你想比价的商品" />
                <input type="submit" class="sub" value="搜索" />
            </form>
        </section>
        <!--搜索栏 end-->

        <!--————————————————————————————————————以 上 是公共样式————————————————————————————————————————————-->

        <!--商品分类 star-->
        <section class="goods">
            <div class="goodsList">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                </div>
            </div>
        </section>
        <!--商品分类 end-->

        <!--————————————————————————————————————以 下 是公共样式————————————————————————————————————————————-->

        <!--底部 star-->
        <footer class="footer">
            <div class="row" style="margin-left:0px">
                <!--跳转到登录-->
                <div class="col-xs-4"><a href="#">登录</a></div>
                <!--跳转到注册-->
                <div class="col-xs-4"><a href="#">注册</a></div>
                <!--返回顶部-->
                <div class="col-xs-4"><a href="#"><span class="top-box"><img src="search/images/top.jpg" alt="" width="15" height="15" class="top" />返回顶部</span></a></div>
            </div>
            <p>
                <!--跳转到下载-->
                <a href="#">手机APP下载 </a>
                <!--跳转到手机版-->
                <a href="#">慢慢买手机版 </a> --掌上比价平台
            </p>
            <p>m.manmanbuy.com</p>
        </footer>
        <!--底部 end-->
    </div>
</body>
<script src="search/js/common.js"></script>
<script src="search/lib/jquery/jquery.min.js"></script>
<script src="search/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="search/lib/template.js"></script>

<!--商品详情的模板构建-->
<script type="text/html" id="template">
    {{each result as value i}}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" class="a_click" data-parent="#accordion" href="#collapseOne" data-target="#collapse{{i}}" aria-expanded="true" aria-controls="collapseOne" style="font-weight: bold; text-decoration: none; display: inline-block; width: 100%">
                    <!--<a data-toggle="collapse" data-parent="#accordion" data-target="#collapse0" aria-expanded="false" aria-controls="collapseOne" class="collapsed ng-binding" ng-click="getCategory(categorytitle.titleId)">大 家 电</a>-->
                    {{value.title}}
                    <div id="c_icon" class="click_icon glyphicon glyphicon glyphicon-menu-down"></div>
                </a>
            </h4>
        </div>
        <div id="collapse{{i}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{i}}">
            <div class="panel-body" id="panel-body">
                <div class="row row-body" id="row-body{{i}}}" style="margin-left: 0"></div>
            </div>
        </div>
    </div>
    {{/each}}
</script>
<!--商品详情的  二级  模板构建-->
<script type="text/html" id="template-details">
    {{each result as value i}}
    <div class="col-xs-4 ng-scope" ng-repeat="category in categoryes" style="background-color:white;"><a href="search/search-list.html#{{value.categoryId}}" class="ng-binding">{{value.category}}</a></div>
    {{/each}}
</script>
<script src="search/js/search.js"></script>

</html>